.button {
  padding: var(--base-spacing) var(--double-spacing);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font: var(--regular-font);
  cursor: pointer;
  width: 80px;
  text-align: center;
}
